body {
  padding-top: 50px;
  background: #red !important;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#buscaLivre {width: 400px;}
.busca-avancada-input {width: 200px; padding: 3px 0;}
.label-busca-avancada {width: 100px; display: block; float: left;}
.label-busca-avancada span {float: right; margin: 0 10px 0 0; font-size: 13px; position: relative; top: 4px; font-weight: bold;}